<div class="panel.panel-primary">
  <div class="panel-heading">
    <h3>Add New</h3>
  </div>
  <div class="panel-body">
    <table>
      <tr>
        <td>
          <label class="col-md-4">Code</label>
        </td>
        <td>
          <input #newCode />
        </td>
      </tr>
      <tr>
        <td>
          <label class="col-md-4">Initial</label>
        </td>
        <td>
          <input #newInitial />
        </td>
      </tr>
      <tr>
        <td>
          <label class="col-md-4">Name</label>
        </td>
        <td>
          <input #newName />
        </td>
      </tr>
    </table>
  </div>
</div>
