<div class="panel.panel-primary">
  <div class="panel-heading">
    <h3>Add New</h3>
  </div>
  <div class="panel-body">
    <table>
      <tr>
        <td>
          <label class="col-md-4">User Id</label>
        </td>
        <td>
          <input #newUserId />
        </td>
      </tr>
      <tr>
        <td>
          <label class="col-md-4">Password</label>
        </td>
        <td>
          <input #newPassword />
        </td>
      </tr>
      <tr>
        <td>
          <label class="col-md-4">Badge Id</label>
        </td>
        <td>
          <input #newBadgeId />
        </td>
      </tr>
      <tr>
        <td>
          <label class="col-md-4">Nickname</label>
        </td>
        <td>
          <input #newNick />
        </td>
      </tr>
      <tr>
        <td>
          <label class="col-md-4">Fullname</label>
        </td>
        <td>
          <input #newFullName />
        </td>
      </tr>
    </table>
  </div>
</div>